* {
 margin: 0;
 padding: 0;
 /* border: 1px solid red; */
}
.first-container {
 min-height: 525px;
 background-color: #f5f5f5;
 text-align: center;
}
header {
 margin-left: 10.5%;
 margin-right: 10.5%;
 padding-top: 80px;
 display: flex;
 justify-content: space-between;
}
.logo {
 width: 150px;
 height: 55px;
 border-radius: 2px;
 border: 4px solid #170f1c;
 opacity: 0.6;
 text-align: center;
}
.logo-text-container {
 margin-top: 16px;
}
.logo h2 {
 color: #000;
 font-family: "MyriadProRegular";
 font-size: 38px;
 line-height: 34.55px;
}
.span-orange {
 color: #fc6744;
}
._open > .menu_body{
 transition: all .5s ease 0s;
 visibility: visible;
 margin-top: -60px;
}
.btx{
  right: 11%;
  position:absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  visibility: hidden;
  z-index: 3;
}
._open .btx{
  visibility: visible;
  transform: rotate(90deg);
  transition: .3s;

}

.menu_body{
  background-color: rgb(55, 55, 55);
  min-width: 80%;
  height: 370px;
  margin:-100px 0 0 -69%;
  position: absolute;
  z-index: 2;
  align-items: center;
  visibility: hidden;
  overflow: auto;
}
li a{
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  margin: 20px 0;
  display:inline-block;
}
ul{
  margin-top: 130px;
}
li{
  border-top: 2px solid #fff;
  list-style-type:none;
}
li:hover{
  background-color: rgb(45, 45, 45);
}

/* ---------LOG IN---------- */
form{
  width: 50%;
  height: 30%;
  background-color:  rgb(45, 45, 45);
  display: block;
  position: fixed;
  top: 20%;
  left: 30%;
  align-items: center;
  align-self: center;
  align-content: center;
  z-index: 4;
  border-radius: 5px;
}
.usr_name{
  width: 100%;
  margin-top: 80px;
  padding: 5px;
}
.usr_pass{
  width: 100%;
  margin-top: 80px;
  padding: 5px;
}
button{
  margin: 30px;
  padding:10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: none;

}
.log_clk body{
  background-color: rgba(0, 0, 0, 0.75);
}

.title-container {
 margin-top: 150px;
 text-align: center;
}
.title-container .title-h1 h1 {
 opacity: 0.94;
 color: #626262;
 font-family: "MyriadProRegular";
 font-size: 50px;
}
.second-title-container .title-h2 h2 {
 opacity: 0.8;
 font-family: "MyriadProRegular";
 font-size: 50px;
 line-height: 45.74px;
 color: #000000;
}
@media (max-width: 700px) {
 .title-container {
 margin-top: 130px;
 }
 .title-container .title-h1 h1,
 .second-title-container .title-h2 h2 {
 font-size: 40px;
 }
}
@media (max-width: 530px) {
 .title-container {
 margin-top: 120px;
 }
 .title-container .title-h1 h1,
 .second-title-container .title-h2 h2 {
 font-size: 30px;
 }
}
@media (max-width: 400px) {
 .title-container {
 margin-top: 110px;
 }
 .title-container .title-h1 h1,
 .second-title-container .title-h2 h2 {
 font-size: 25px;
 }
}
.title-container-content,
.second-container-content {
 width: 45%;
 margin-left: 26%;
 margin-top: 10px;
 padding-bottom: 10px;
}
@media (max-width: 1000px) {
 .title-container-content,
 .second-container-content {
 width: 70%;
 margin-left: 15%;
 }
}
@media (max-width: 600px) {
 .title-container-content,
 .second-container-content {
 width: 80%;
 margin-left: 10%;
 }
}
@media (max-width: 400px) {
 .title-container-content,
 .second-container-content {
 width: 90%;
 margin-left: 5%;
 }
}
.title-container-content p,
.second-container-content p {
 opacity: 0.65;
 color: #000000;
 font-family: "Open Sans";
 font-size: 16px;
 line-height: 25px;
}
.second-container {
 padding-bottom: 20px;
}
.second-title-container {
 text-align: center;
 margin-top: 70px;
}
.block-container {
 margin: 100px auto;
 max-width: 1200px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
.middle-titles {
 margin: 0 auto;
}
.middle-block-container {
 max-width: 200px;
 margin: 0 auto;
}
.blocks-contents {
 max-width: 262px;
 min-width: 220px;
 text-align: center;
 padding: 0 16px;

}
.middle-content {
 padding-top: 10px;
 font-size: 15px;
 font-family: "Open Sans";
 color: rgba(255, 255, 255, 0.749);
 margin: 0 auto;
}
#blue .icon {
 margin: 53px auto 0;
 background-image: url(../img/magnit.png);
 background-position: center;
 background-repeat: no-repeat;
 width: 55px;
 height: 55px;
}
#violet .icon {
 margin: 53px auto 0;
 background-image: url(../img/2.png);
 background-position: center;
 background-repeat: no-repeat;
 width: 55px;
 height: 55px;
}
#skyblue .icon {
 margin: 53px auto 0;
 background-image: url(../img/3.png);
 background-position: center;
 background-repeat: no-repeat;
 width: 55px;
 height: 55px;
}
#red .icon {
 margin: 53px auto 0;
 background-image: url(../img/4.png);
 background-position: center;
 background-repeat: no-repeat;
 width: 55px;
 height: 55px;
}
.middle-titles {
 padding: 0;
 margin-top: 10px;
 font-size: 20px;
 font-family: "Open Sans";
 color: rgba(255, 255, 255, 0.902);
}
#blue {
 padding: 0 16px;
 background-color: #4eb2f7;
}
#violet {
 padding: 0 16px;
 background-color: #c049f8;
}
#skyblue{
 padding: 0 16px;
 background-color: #817eff;
}
#red {
 padding: 0 16px;
 background-color: #f74770;
}
.middle-button-container {
 margin-top: 25px;
 cursor: pointer;
}
.middle-button {
 border-radius: 56px;
 background-color: white;
 max-width: 240px;
 height: 56px;
 text-align: center;
 line-height: 56px;
 font-family: "MyriadProRegular";
 color: #000000;
 position: relative;
 font-size: 16px;
 text-indent: 20px;
 opacity: .9;
 top: 28px;
 transition: all 0.3s ease;
}
.middle-button:hover {
 box-shadow: 0 6px 14px rgba(20, 20, 21, 0.09);
}
.middle-button:before {
 content: '';
 position: absolute;
 top: 18px;
 left: 35px;
 width: 16px;
 height: 16px;
z-index: 9999;
 background-image: url(../img/arrow.png);
 background-size: cover;
 background-repeat: no-repeat;
}
@media (max-width: 1080px){
 .block-container {
 margin: 10px 0 0;
 flex-direction: column;
 align-items: center;
 }
 .blocks-contents {
 margin-top: 40px;
 width: 262px;
 }
}
footer{
  width: 100%;
  height: 200px;
  background-color: #000;
  color: #fff;
  display: flex;
}
.foo_wrap{
  margin: 10% 5% 0 5%;
  display: flex;
  width: 100%;
}
.icon{
  width:30px;
  height: 30px;
  margin:10px;
}
.foo_copyright{
  margin:10px 50px 0 50%;
}
