*{
	border-color: red;
}  
h1{
	text-align: center;
	font-size: 63px;
	margin: 30px;
}

.wrapper{
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	grid-template-rows: repeat(4, 1fr );
	grid-gap: 2% 20%;
	margin: 0 0 0 9%;
	width: 130px;
	
	
}

.teacher{
	grid-column-start: 1;
	grid-column-end: 5;
	background-color: lightgray;
	border-radius: 10px;
	display: flex;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
	transition: 0.8s;

	
}

.teacher:hover{
	background-color: darkorange;
	color: aliceblue;
	transition: 0.8s;
	margin-top: -10px;
}

.opn{
	display: block;
	margin: 10px 0 0 80px;
	width: 610px;
}

.student{
	width: 260px;
	height: 460px;
	display: block;
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
	transition: 0.8s;


}

.student img{
	width: 260px;
	height: 280px;
	align-items: center;
	background-size: cover;
	border-radius: 10px 10px 0 0;
	position: relative;
}

h3{
	margin: 20px;
	text-align: center;
	font-size: 20px;
	color: darkorange;
}

.student p{
	margin: 20px;
	text-align: justify;
}

.student:hover{
	transition: 0.8s;
	margin-top: -10px;
	background-color: firebrick;
	color: orange;
	

}